body {
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none !important;
}

.headingCaption {
  color: #055fac;
  letter-spacing: 5px;
}

.primaryText {
  color: #055fac;
}

.secondaryText {
  color: #b12d35;
}

.navbar {
  margin-top: 1% !important;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: transparent;
}
.navbar .logo {
  width: 70%;
}
.navbar .navbar-nav {
  width: 100%;
}
.navbar .nav-item {
  margin: 0 3%;
  font-size: 19px;
  font-weight: 600;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  width: 0%;
  border-bottom: 3px solid #055fac;
  position: absolute;
  bottom: 0;
}
.navbar .nav-item:hover .nav-link::before {
  transition: 0.5s;
  width: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container-fluid {
  padding: 0;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/bckimg.jpg");
  color: white;
  background-size: cover;
  height: 100vh;
}
.header .leftSection {
  padding: 8% 5% !important;
}
.header img {
  width: 101.6% !important;
  height: 70%;
}
.header .col-lg-12 {
  padding: 0;
}
.header h1 {
  font-size: 4rem;
  margin-bottom: 3%;
}
.header .headerBtns {
  display: flex;
  align-items: center;
}
.header .serviceBtn {
  padding: 1% 2%;
  background: linear-gradient(45deg, #0E90D5, #3032A2);
  font-weight: 600;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  margin-right: 2%;
}
.header .serviceBtn a {
  color: white;
}
.header .serviceBtn:hover {
  background: white;
  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
}
.header .serviceBtn:hover a {
  color: #055fac;
  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
}
.header .contactBtn {
  padding: 1% 2%;
  background-color: white;
  color: #055fac;
  font-weight: 600;
  border: 1px solid white;
  font-size: 1.12rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.header .contactBtn:hover {
  background-color: #b12d35;
  color: white;
  border-color: transparent;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}

.shortServices {
  margin-top: -15% !important;
}
.shortServices .flip-card {
  background-color: transparent;
  width: 300px;
  height: 250px;
  perspective: 1000px;
}
.shortServices .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.shortServices .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.shortServices .flip-card-front, .shortServices .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.shortServices .flip-card-front {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.shortServices .flip-card-front h3 {
  font-weight: 800 !important;
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #0569c0, #0778da, #055fac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shortServices .flip-card-back {
  background-color: #055fac;
  color: white;
  transform: rotateY(180deg);
}

.aboutus {
  margin: 10% 0;
}
.aboutus .imgs {
  position: relative;
  padding: 0;
}
.aboutus .imgs .aboutimg {
  z-index: 2;
  width: 80% !important;
  float: right;
}
.aboutus .imgs .backCircle {
  position: absolute;
  left: 5%;
  bottom: 1px;
  width: 60%;
  z-index: -1;
  animation: hoverImg 3s infinite linear;
  -webkit-animation: hoverImg 3s infinite linear;
}
.aboutus .aboutRight p {
  font-size: large;
  line-height: 1.5;
  color: rgb(137, 136, 136);
}
.aboutus .aboutRight .primaryText {
  color: #b12d35;
}
.aboutus .aboutRight .aboutExtra {
  padding: 0;
}
.aboutus .aboutRight .aboutExtra h4 {
  font-weight: 700;
}
.aboutus .aboutRight .aboutExtra svg {
  font-size: 40px;
  color: #055fac;
  margin-top: 20%;
}
.aboutus .aboutRight .readMoreBtn {
  padding: 2% 6%;
  margin-top: 8%;
  background-color: #b12d35;
  color: white;
  font-size: large;
}

.services {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/servicesbg.png");
  background-size: cover;
  background-attachment: fixed;
  padding: 3% 8%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}
.services .flip-card {
  margin-top: 10%;
  background-color: transparent;
  width: 100%;
  height: 250px;
  perspective: 1000px;
}
.services .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: 3px solid #055fac;
}
.services .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.services .flip-card-front, .services .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.services .flip-card-front {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.services .flip-card-back {
  background-color: #055fac;
  color: white;
  transform: rotateY(180deg);
}

.footer {
  background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
  color: white;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  padding: 4%;
}

.testimonialsSection {
  margin: 5% 0;
}
.testimonialsSection .sectionText {
  text-align: center;
}
.testimonialsSection .sectionText h1 {
  font-weight: 800;
}
.testimonialsSection .sectionText h4 {
  letter-spacing: 5px;
}
.testimonialsSection .testimonials {
  margin-top: 5%;
}
.testimonialsSection .testimonials .carousel-indicators .active {
  width: 50px;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.testimonialsSection .testimonials .carousel-indicators button {
  background-color: #055fac;
}
.testimonialsSection .testimonials .carousel-control-next, .testimonialsSection .testimonials .carousel-control-prev {
  display: none;
}
.testimonialsSection .testimonials .review {
  margin-bottom: 15%;
  margin-top: 3%;
}
.testimonialsSection .testimonials .review .card {
  padding: 5%;
  border: 0px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.testimonialsSection .testimonials .review .reviweInfo {
  padding: 0;
  margin-top: 8%;
}
.testimonialsSection .testimonials .review .reviweInfo .reviwerImg {
  width: 95px;
  height: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.testimonialsSection .testimonials .review .reviweInfo .reviwerText svg {
  color: #055fac;
  font-size: 19px;
}
.testimonialsSection .testimonials .review .reviweInfo .reviwerText h6 {
  color: #b12d35;
  font-weight: 500;
}

.locations {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/mapbg.jpg");
  background-size: cover;
  background-position: center;
  padding: 12% 15%;
  padding-top: 3%;
  margin-bottom: -18%;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}
.locations .sectionText {
  color: white;
  text-align: center;
  margin-bottom: 15%;
}
.locations .sectionText .headingCaption {
  font-weight: 700;
}
.locations .card {
  width: 95%;
  border-radius: 0.4rem;
  border: 3px solid #055fac;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  padding: 3%;
  color: rgb(203, 203, 203);
  text-align: center;
}
.locations .card .city {
  color: #b12d35;
  margin-bottom: 4%;
}
.locations .card .location {
  border-right: 1px solid gainsboro;
}
.locations .card .sideInfo {
  padding: 5%;
}
.locations .card .locationInfo {
  margin-top: 15%;
}
.locations .card .locationInfo .labels {
  margin-top: 15%;
  color: #055fac;
  font-weight: 700;
}
.locations .card .locationInfo .labels svg {
  margin-right: 5%;
}
.locations .card iframe {
  width: 100%;
}

.footer {
  border-radius: 0;
  padding-top: 3%;
}
.footer h3 {
  margin-bottom: 5%;
}
.footer .footerSection {
  padding: 3%;
}
.footer .footerSection ul li {
  margin-bottom: 5%;
}
.footer .footerSection ul li a {
  text-decoration: none;
  color: white;
}
.footer .footerSection .social {
  display: flex;
  cursor: pointer;
}
.footer .footerSection .social svg {
  font-size: 2.5rem;
}
.footer .footerSection .social svg + svg {
  margin-left: 3%;
}
.footer .footerSection .social svg:hover {
  transition: 0.4s;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul svg {
  margin-right: 3%;
  font-size: 1.2rem;
}

.homeFooter {
  padding-top: 10%;
}

@keyframes hoverImg {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.breadcrumb {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/breadcumb.jpb.jpg");
  background-size: contain;
  background-attachment: fixed;
}
.breadcrumb .text {
  color: white;
  padding: 10% 6%;
}
.breadcrumb .text h1 {
  margin-bottom: 5%;
  font-size: 4rem;
}
.breadcrumb .text h3 {
  word-spacing: 1rem;
}

.states {
  margin: 5% 0;
  padding: 4%;
}
.states .stateCard {
  padding: 10% 5%;
  background: #F7F8FC;
  position: relative;
  border: none;
}
.states .stateCard h1 {
  font-size: 3.2rem;
  font-weight: 800;
}
.states .stateCard svg {
  font-size: 4rem;
  margin: auto;
  color: #055fac;
}
.states .stateCard p {
  font-size: x-large;
  color: #747b87;
  font-weight: 600;
  margin-top: 6%;
  letter-spacing: 2px;
}
.states .stateCard::before {
  content: "";
  background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 8px;
  left: 0px;
  opacity: 0.05;
  transform: translate(10px, 10px);
  padding: 5%;
}
.states .stateCard:hover::before {
  top: 12px;
  left: 6px;
  opacity: 0.08;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.team {
  text-align: center;
  color: white;
  background-color: black;
  padding: 3% 0;
  padding-top: 6%;
  z-index: 1;
  margin-bottom: 30%;
}
.team .circle {
  margin-bottom: 0%;
  position: absolute;
  width: 20%;
  left: 0;
  bottom: 20%;
  animation: hoverImg 3s infinite linear;
}
.team .meetText {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.team .meetText .meet {
  position: relative;
  text-align: center;
  font-size: x-large;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.team .meetText .meet::before {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 18px;
  right: -50px;
}
.team .meetText .meet::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 18px;
  left: -50px;
}
.team .meetText h1 {
  font-weight: 800;
  font-size: 3rem;
}
.team .teamCards {
  margin: auto;
  padding: 15%;
  margin-bottom: -35%;
  position: relative;
}
.team .teamCards .teamCard {
  padding-bottom: 4%;
  margin-bottom: 3%;
  color: black;
  border: none;
  position: relative;
  background: #f6f6f6;
  overflow: hidden;
  border-radius: 8px;
  -ms-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
}
.team .teamCards .teamCard img {
  width: 100%;
  height: 400px;
  border-bottom-left-radius: 3rem;
  margin-bottom: 3%;
}
.team .teamCards .teamCard::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 80px;
  background: linear-gradient(-20deg, #0E90D5, #3032A2) !important;
  bottom: -30px;
  left: -50px;
  transform: rotate(45deg);
  transition: 500ms;
  opacity: 0.6;
}
.team .teamCards .teamCard::after {
  position: absolute;
  content: "";
  background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
  height: 8%;
  width: 12px;
  bottom: 0;
  right: 0;
  transition: 500ms;
  opacity: 0.6;
}
.team .teamCards .teamCard:hover {
  background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
  color: white;
}
.team .teamCards .teamCard:hover::before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.team .teamCards .teamCard:hover img {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.team .teamCards .teamCard:hover::after {
  display: none;
}

.servicesSection .headingCaption {
  margin: 5% 0;
  text-align: center !important;
  font-weight: 700;
}

.service {
  margin: 20% 0;
}
.service p {
  font-size: large;
}
.service p svg {
  margin-right: 2%;
}
.service ul {
  list-style: none;
  padding: 0;
}
.service .serviceImg {
  width: 70%;
  border-radius: 0.5rem;
  border-radius: 25px;
}
.service .leftImg {
  box-shadow: -15px 15px 5px #ccc;
}
.service .rightImg {
  box-shadow: 15px 15px 5px #ccc;
}
.service .left {
  display: flex;
  justify-content: flex-start;
}
.service .right {
  display: flex;
  justify-content: flex-end;
}
.service .serviceCard {
  margin: 3% 0;
  height: 100%;
  padding: 5% 8%;
  background: linear-gradient(45deg, #0E90D5, #3032A2) !important;
  position: relative;
  color: white;
}
.service .serviceCard .list {
  padding: 0;
}
.service .serviceCard h2 {
  margin-bottom: 6%;
}
.service .serviceCard::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  top: 20%;
  left: 30%;
  border-radius: 10rem;
  background-color: #f6f6f6;
  opacity: 0.06;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

@media screen and (min-width: 300px) and (max-width: 880px) {
  body {
    overflow-x: hidden;
  }
  .navbar-brand {
    width: 70%;
  }
  .header img {
    display: none;
  }
  .header .leftSection {
    padding: 10% 5% !important;
    padding-top: 4%;
  }
  .header .leftSection h1 {
    font-size: 4rem;
    margin-bottom: 15%;
  }
  .shortServices .flip-card {
    width: 300px;
    height: 250px;
    margin: auto;
    margin-bottom: 5%;
  }
  .aboutus .imgs {
    margin-bottom: 20%;
  }
  .testimonials .review .reviweInfo {
    text-align: center;
  }
  .testimonials .review .reviweInfo img {
    margin-bottom: 3%;
  }
  .locations {
    padding: 12% 6%;
  }
  .locations .card {
    padding-bottom: 15% !important;
  }
  .locations .location {
    border-right: 0px !important;
    border-bottom: 1px solid gainsboro !important;
    margin-bottom: 15%;
    padding: 15% 0;
  }
  .services {
    padding: 8%;
  }
  .footerSection {
    margin: 15% 0;
  }
  .states .stateCard {
    text-align: center;
  }
  .team .circle {
    bottom: 2%;
    width: 46%;
  }
  .team .meetText h1 {
    font-size: 2rem;
  }
  .team .teamCards .teamCard {
    margin-bottom: 10%;
  }
  .allServices .service img {
    margin: auto;
    width: 90%;
    margin-bottom: 10%;
  }
  .allServices .rightService {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 870px) and (max-width: 900px) {
  .header img {
    display: none;
  }
  .header .leftSection {
    padding: 10% 5% !important;
    margin-top: 20% !important;
  }
  .header .leftSection h1 {
    font-size: 4rem;
    margin-bottom: 15%;
  }
  .shortServices .flip-card {
    width: 300px;
    height: 250px;
    margin: auto;
    margin-bottom: 5%;
  }
}/*# sourceMappingURL=Style.css.map */